<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>BQmfLhGDqnrOLcwJbrMJMg1AXmcp9wLJYju6s1ObwP5EfE9ZBm</string>
	<key>consumer_Key</key>
	<string>N4zjZ171Gyy6zJmBAckzbZkW7</string>
</dict>
</plist>
